@import"reset.css";@import"pro_pages_style.css";@import"grid.css";@import"forms.css";@import"prettyPhoto.css";@import"jquery.snippet.min.css";
@import"../skin/blue.monday/jplayer.blue.monday.css";@import url('smoothness/jquery-ui-1.8.17.custom.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
body{background:#fff;font:13px/20px Arial, Helvetica, sans-serif;color:#373030;position:relative;min-width:1000px;}
#intro {background:url(../images/content-bg.jpg) 0 0 repeat;}

html,body{height:100%;}
p{padding-bottom:18px;}
.p1{padding-bottom:20px;}
a{color:#B94A48;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#463f3d;font-family: 'Open Sans', sans-serif; font-weight:normal;}
h1{font-size:36px; letter-spacing:-2px;}
h1 span {display:inline-block; margin-top:-14px;}
.h1-bottom {margin-bottom:14px;}
h2{font-size:35px;}
h3{font-size:28px;} 
h4{font-size:24px;}  
h5{font-size:20px;}
h6{font-size:18px; margin-bottom:10px;}
/* Global Structure---------------------------------------- */
.main{margin:0 auto;position:relative;width:940px;}
/*----- txt,links,lines,titles -----*/
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{overflow:hidden;position:relative;}
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}
.wrapper-large{overflow:hidden;position:relative; height:80px;}

.img-indent{float:left;margin:0 30px 0px 0}
.img-indent1{float:left;margin:0 8px 0px 0}


.bg {background:url(../images/bg.jpg) center 0 repeat-x;}
.bg2 {background:url(../images/content-bg.jpg) 0 0 repeat;}
.bg3 {background:url(../images/bg1.png) center 0 no-repeat;}
/*********************************header*************************************/
header{position:relative;z-index:99;}

header h1 {display:inline-block;  margin-bottom:0px; margin-top:15px; margin-left:6px; position:relative; z-index:999; float:left; background:none; padding:0px 0px 0px 0px;
	}
header h1 a {
	text-indent:-5000px; 	 
	background:url(../images/logo.png) 0 0 no-repeat;	 
	width:230px;
	height:64px;
	display:block;
	margin-bottom:0px;
}

.row {height:44px;}
.row1 {height:89px;}
.row2 {height:57px;}

.text {font-size:14px; line-height:18px; font-family: 'Open Sans', sans-serif; letter-spacing:-1px; padding:13px 0px 0px 0px; float:left; font-weight:normal;}

.list-link {float:right; margin:13px 1px 0px 0px;}
.list-link li {font-size:12px; line-height:16px;font-family: 'Open Sans', sans-serif; float:left; letter-spacing:-1px; margin-left:8px;}
.list-link a {color:#373030; text-decoration:none;}
.list-link a:hover {text-decoration:underline;}

.img-list1 {margin:29px 0px 0px 0px; float:right; margin-right:-4px;}
.img-list1 li {float:left; margin-left:2px;}

.icon-1:hover img {opacity:0.60;}
.icon-2:hover img {opacity:0.60;}
.icon-3:hover img {opacity:0.60;}

nav {padding:0px 0px 0px 0px;}
.sf-menu {padding:0px 0px 0px 0px; margin-left:0px; position:relative; z-index:998; float:left;}
		

.sf-menu li {float:left;
	position:	relative;
	font-size:18px;
	line-height:22px;
	display:inline-block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	letter-spacing:-1px;
	border-right:1px solid #dfdf98;
	}
.m2 {width:140px;}
.m3 {width:140px;}
.m4 {width:139px;}
.m5 {width:139px;}
.m6 {width:139px;}

	
.sf-menu > li > a {display:block;
	position:		relative;	
	color:#fff;
	text-decoration:none; 
	margin-top:0px;
	padding:13px 0px 13px 0px;
	margin-left:-2px;
	text-shadow:1px 1px #95aa14;
}
.img-pad {padding:9px 0px 0px 19px;} 

	

	.sf-menu li li {
	font-size:18px;
	display:inline-block;
	line-height:24px;
	margin:0px 0 0px 0px;
	padding:0px 0px 0px 0px;
	width:188px;
	background:none;
	text-align:left;
	border-right:none;
}
	.sf-menu li li a {
		margin-left:0px;
		padding:5px 0px 5px 16px;
		text-decoration:none;
		color:#fff;
		display:block;
		background:none;
		margin:0px 0px 0px 0px;
	}
	
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	display:none;
	background:url(../images/ul-bg.png) 0 0 repeat;
	width:188px;
	padding:19px 10px 26px 10px;
	
	}
.sf-menu .last1 {border-bottom:none;}


.sf-menu li li li {
	font-size:18px;
	display:inline-block;
	line-height:24px;
	margin:0px 0 0px 0px;
	padding:0px 0px 0px 0px;
	width:188px;
	background:none;
	text-align:left;
	border-right:none;

	
}
	.sf-menu li li li a {
		margin-left:0px;
		padding:5px 0px 5px 16px;
		text-decoration:none;
		color:#fff;
		display:block;
		background:none;
		margin:0px 0px 0px 0px;
	}
	
.sf-menu ul ul {
position:		absolute;
	top:			-999em;
	display:none;
	background:url(../images/ul-bg.png) 0 0 repeat;
	width:188px;
	padding:19px 10px 26px 10px;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			49px; /* match top ul list item height */
	z-index:		99;
	
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
	
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			199px; /* match ul width */
	top:			-19px;
	
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			00px;
}

.sf-menu > li.sfHover > a,
.sf-menu > li a:hover, .sf-menu > li a.current {color:#373030;
    top: 0px;
    left: 0px;
}
.sf-menu > li.sfHover,
.sf-menu > li:hover, .sf-menu > li.current { 
 	
}



.sf-menu li li:hover, .sf-menu li li.current, .sf-menu li li.sfHover {background:#373030;}
.sf-menu > li li.sfHover > a,
.sf-menu > li li a:hover, .sf-menu > li li a.current { color:#fff;}

.sf-menu li li li a:hover,.sf-menu li li li a.current, .sf-menu li li li a.sfHover {color:#fff;}

#search-form1 {float:right; margin-top:5px; margin-right:6px;}
#search-form1 fieldset {
	border:none;
	margin:0px 0px 0px 0px;
	background:none;
	border:none;
}
	#search-form1 label {
		display:inline-block;
		background:url(../images/form-bg.gif) 0 0 no-repeat;
		outline:none;		
		display:inline-block;
		height:38px;
		box-shadow:none;
	
	}
#search-form1 input[type=text] {
	background:none;
	border:none;
	line-height:1.2307em;
	font-size:12px;
	padding:12px 5px 6px 9px;
	margin:0 0px 0 0px;
	width:177px;
	vertical-align:top;
	color:#9b9b9b;
	font-family:Arial, Helvetica, sans-serif;
	box-shadow:none;
}
.search1 {background:url(../images/search1-img.gif) 0 0 no-repeat; height:38px; width:38px; display:inline-block; margin-left:-6px;}
.search1:hover {background:url(../images/search1-img.gif) 0 -38px no-repeat;}

.bg4 {background:url(../images/bg1.jpg) 0 0 repeat-x; height:48px; margin-top:9px;}

.text-pad {display:inline-block; margin-top:-3px; margin-bottom:4px;}

.pad-top {padding-top:52px;}
.pad-top1 {padding-top:55px;}
.pad-top2 {padding-top:46px;}
.pad-top3 {padding-top:43px;}


.pad-left {padding-left:28px;}
.pad-left1 {padding-left:5px;}

.img-pad2 {padding-top:28px; padding-bottom:23px;}

.text-top {margin-top:-5px; display:inline-block;}
.text-top1 {margin-top:-3px; display:inline-block;}

.img-pad3 {padding-top:35px; margin-right:-23px; margin-bottom:20px;}

.img-top {padding-top:23px;}

.img-top1 {margin-top:4px;}
.img-top2 {margin-top:27px;}
.img-top3 {margin-top:25px;}
.img-top4 {margin-top:26px;}

.indent1 {padding-top:56px;}


/********************** Content ************************/
.col-1, .col-2, .col-3 {float:left;}

section{ position:relative; z-index:1;}

.content-bottom {padding-bottom:50px;}
.content-bottom1 {padding-bottom:10px;}
.content-bottom2 {padding-bottom:35px;}

.big-top {padding-top:0px;}

.title-1 {font-size:40px; line-height:1.2307em; color:#373030; font-family: 'Open Sans', sans-serif; font-weight:bold; letter-spacing:-2px; padding:39px 0px 0px 0px;}

.text1 {font-size:30px; line-height:1.2307em; color:#373030;font-family: 'Open Sans', sans-serif; letter-spacing:-1px; margin-top:-11px;}

.dropcap{font-size:36px;line-height:1.2em;color:#fff;float:left;font-family: 'Open Sans', sans-serif; font-weight:bold;text-align:center;width:49px;border-radius:38px;padding:2px 0;margin:0 26px 0 6px;letter-spacing:-1px;background:url(../images/dropcap.gif) 0 0 repeat;text-transform:uppercase;}

.dropcap-top {margin-top:32px;}
.dropcap-top1 {margin-top:18px;}

.link1 {font-size:13px; line-height:18px; text-transform:uppercase; color:#373030; text-decoration:none; font-weight:bold; display:inline-block; margin:3px 0px 0px 0px;}
.link1:hover {color:#bcc72c; text-decoration:none;}

.link1-top {margin-top:0px;}

.line {background:url(../images/line.gif) 0 0 repeat-x; height:1px; margin-top:10px;}

.button-1 {font-size:18px; line-height:23px; text-shadow:1px 1px #95aa14; color:#fff; background:url(../images/button-1-bg.gif) 0 0 repeat;font-family: 'Open Sans', sans-serif; font-weight:bold; letter-spacing:-1px; display:inline-block; padding:10px 28px 11px 24px; 
margin:40px 0px 0px 0px; -webkit-transition:background 0.5s ease;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;transition:background 0.5s ease;}
.button-1:hover {background:url(../images/button-1-hover.gif) 0 0 repeat; text-decoration:none;text-shadow:1px 1px #0b0a0a;}

.box1 {min-height:296px; background:url(../images/box1-bg.gif) 0 0 repeat; position:relative;
    top: 0px;
    left: 0px;
    height: 376px;
    width: 926px;
}
.box1 .padding {padding:33px 0px 0px 29px;}

.box1:hover {background:url(../images/box1-bg-hover.jpg) 0 0 repeat;}

.box1:hover .title-2 {color:#fff;}

.box1-top {padding-top:29px;}
.box1-top1 {padding-top:21px;}

.title-2 {font-size:36px; line-height:1.2307em; color:#373030;font-family: 'Open Sans', sans-serif; font-weight:bold; letter-spacing:-2px; margin-bottom:16px;}

.button-2 {font-size:18px; line-height:23px; text-shadow:1px 1px #95aa14; color:#fff; background:url(../images/button-2-bg.gif) 0 0 repeat;font-family: 'Open Sans', sans-serif; font-weight:bold; letter-spacing:-1px; display:inline-block; padding:7px 17px 8px 16px; 
margin:0px 0px 0px 0px; -webkit-transition:background 0.5s ease;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;transition:background 0.5s ease;}
.button-2:hover {background:url(../images/button-2-bg.gif) 0 -38px repeat; text-decoration:none;text-shadow:1px 1px #0b0a0a;}

.button-2-top {margin-top:25px;}

.button-3 {font-size:18px; line-height:23px; text-shadow:1px 1px #0b0a0a; color:#fff; background:url(../images/button-3-bg.jpg) 0 0 repeat;font-family: 'Open Sans', sans-serif; letter-spacing:-1px; display:inline-block; padding:8px 18px 7px 18px; 
margin:0px 0px 0px 0px; -webkit-transition:background 0.5s ease;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;transition:background 0.5s ease;}
.button-3:hover {background:url(../images/button-3-bg.jpg) 0 -38px repeat; text-decoration:none;text-shadow:1px 1px #95aa14;}

.button-3-top {margin-top:24px;}
.button-3-top1 {margin-top:27px;}


.button {font-size:18px; line-height:23px; text-shadow:1px 1px #95aa14; color:#fff; background:url(../images/button-bg.gif) 0 0 repeat;font-family: 'Open Sans', sans-serif; letter-spacing:-1px; display:inline-block; padding:7px 19px 8px 19px; 
margin:0px 0px 0px 0px; -webkit-transition:background 0.5s ease;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;transition:background 0.5s ease;}
.button:hover {background:url(../images/button-bg.gif) 0 -38px repeat; text-decoration:none;text-shadow:1px 1px #0b0a0a;}


.box1-img1 {background:url(../images/box1-img1.png) 0 0 no-repeat; position:absolute; height:110px; width:108px; top:86px; right:7px;}
.box1-img2 {background:url(../images/box1-img2.png) 0 0 no-repeat; position:absolute; height:119px; width:87px; top:86px; right:18px;}
.box1-img3 {background:url(../images/box1-img3.png) 0 0 no-repeat; position:absolute; height:119px; width:87px; top:86px; right:26px;}

.box1-img4 {background:url(../images/box1-img4.png) 0 0 no-repeat; position:absolute; height:96px; width:109px; top:92px; right:10px;}
.box1-img5 {background:url(../images/box1-img5.png) 0 0 no-repeat; position:absolute; height:96px; width:109px; top:92px; right:3px;}
.box1-img6 {background:url(../images/box1-img6.png) 0 0 no-repeat; position:absolute; height:113px; width:109px; top:92px; right:6px;}


.text2 {font-size:14px; line-height:20px; color:#a7b506; font-weight:bold; padding-bottom:20px;}
.text2-top {padding-top:22px;}

.data {font-size:18px; line-height:22px; color:#373030;font-family: 'Open Sans', sans-serif; font-weight:bold; letter-spacing:-1px; margin-bottom:1px;}
.data-top {margin-top:15px;}
.data-top1 {margin-top:21px;}

.tabs6 {
	margin-top:53px;
	position:relative;
}
.tabs6 ul {
	position:relative;
	overflow:hidden;
	z-index:100;
	margin-bottom:-1px;
	float:left;
	margin-right:65px;
	
	
	
}
.tabs6 ul li {
	font-size:18px;
	line-height:23px;
	margin-left:0px;
	cursor:pointer;
	font-family: 'Open Sans', san s-serif;
	width:260px;
	background:url(../images/tab-li-bg.png) 0 0 repeat;
	letter-spacing:-1px;
	margin-bottom:2px;
	
	
}
.tabs6 ul li:first-child {
	margin-left:0;
}
.tabs6 ul li a {
	display:inline-block;
	color:#463f3d;
	padding:9px 0px 12px 25px;
	text-decoration:none;
	background:none;
	position:relative;
	display:block;
	
	
	
}
.tabs6 ul li a:hover,
.tabs6 ul li .current {
	text-decoration:none;
	color:#fff;
	background:url(../images/tab-li-hover.png) 0 0 repeat;
	cursor:pointer;
	
	
}

	
.tabs6 ul li .current {
	cursor:default;
	cursor:pointer;
	text-decoration:none;

}
.tab-content1 {
	padding:0px 45px 38px 0px;
	
	position:relative;
	z-index:1;
	
	
	
}
.tab-content1 .size-2 {
	font-size:13px;
	line-height:20px;
	color:#a0a0a0;
	padding-bottom:21px;
	
}	
.tab-text {font-size:14px; line-height:20px; font-weight:bold; color:#a7b506; margin-top:-5px; padding-bottom:20px;}

.img-pad1 {padding:28px 0px 24px 0px;}

.title-3 {font-size:30px; line-height:1.2307em; color:#463f3d;font-family: 'Open Sans', sans-serif; letter-spacing:-1px;}

.link2 {color:#373030; text-decoration:none; text-transform:uppercase; font-size:13px; line-height:18px; font-weight:bold;}

.border-bottom {border-bottom:1px solid #bcc72c; width:272px; padding-bottom:8px; margin-bottom:12px;}

#page_3 .col-1 {width:260px; margin-right:23px;}
#page_3 .col-2 {width:252px;}

.text3 {font-weight:bold;}

.link3 {font-weight:bold; color:#a7b506; text-decoration:none; font-size:14px; line-height:20px; display:inline-block;}

#page_4 .col-1 {width:180px; margin-right:26px;}
#page_4 .col-2 {width:180px; margin-right:21px;}
#page_4 .col-3 {width:185px;}

.bunner-top {padding-top:27px;}
.bunner-top1 {padding-top:39px;}

.link3 {font-weight:bold; color:#a7b506; text-decoration:none; font-size:14px; line-height:20px; display:inline-block;}
.link3-pad {margin:15px 0px 0px 0px;}

.link4 {color:#373030; text-decoration:underline; font-size:13px; line-height:20px; font-weight:bold; background:url(../images/link4-bg.gif) right 6px no-repeat; padding-right:9px;}
.link4:hover {text-decoration:none;}

.shadow {box-shadow:0 0 12px #CCC;
-moz-box-shadow:0 0 12px #CCC;
-webkit-box-shadow:0 0 12px #CCC;}


#map_canvas{width:348px;height:300px;margin-bottom:25px;  margin-top:27px; margin-left:0px;}

dl dt{margin:0 0 20px; font-weight:bold; color:#a7b506; padding-bottom:0px; font-size:14px; font-family:Arial, Helvetica, sans-serif}
dl.adrss dd span{display:inline-block;width:87px;}
dl dd {padding:0px 0px 0px 0px;}
dl dd a{text-decoration:underline; color:#373030;}
dl dd a:hover{text-decoration:none;}

.link5 {color:#373030; text-decoration:underline;}
.link5:hover {text-decoration:none;}






/******************** Footer ******************/
footer{height:34px; background:url(../images/footer-bg.jpg) center 0 repeat-x; text-align:center; padding-top:61px; font-size:13px; line-height:16px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
footer a {color:#383131; text-decoration:none;}
footer a:hover {text-decoration:underline;}

#contact-form1 { margin: 27px 0 0 0px; width:522px;}
#contact-form1 input {
	background:#fff;
	border:none;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
	color:#373030; 
	padding:11px 13px 12px 14px;
    outline: medium none;
    width:320px;
	float:left;
	height:15px;
	
	
}
#contact-form1 textarea {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    background: #fff;
    font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;
	color:#373030; 
	padding:11px 13px 12px 14px;
    height: 155px;
    outline: medium none;
    overflow: auto;
    width: 359px;
	resize:none;
	margin:0px;
	float:left;
	
}
#contact-form1 label {
    display: block;
    min-height:43px;
	overflow:hidden;
	position:relative;
}
#contact-form1 .error, #contact-form1 .empty {
    color: #FF0000;
    display: none;
    font-size: 10px;
	line-height:14px;
	width:130px;
	float:left;
	margin-top:2px;
	margin-left:15px;
	margin-bottom:3px;
}
#contact-form1 .error-empty {margin: 4px 0 0 5px !important; display:none;}
#contact-form1 .success {display:none; background:none !important; border:none; color:#000; text-shadow:none; width:300px; margin-bottom:14px; display:block; box-shadow:none;}
#contact-form1 .btns {
	position:relative;
	overflow:hidden;
    padding: 18px 0px 3px 0px;
    text-decoration: none;
	text-align:right;
	
}
.btns a {
	margin-left:15px;
}








